<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-collection.v1.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-format.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-time.v1.min.js"></script>
    <script src="https://d3js.org/d3-time-format.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v1.min.js"></script>

    <script src="/javascripts/map.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body onload="initMap()">
    <h1><%= title %></h1>
    <div class="row">
      <div class="col-md-4">
        <form>
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" disabled="disabled">
          </div>
          <div class="form-group">
            <label for="geojson">GeoJSON:</label><br>
            <button type="button" class="btn btn-default" onclick="initBerlin()">Sample Berlin</button>
            <button type="button" class="btn btn-default" onclick="initColumbia()">Sample Columbia</button><br>
            <textarea class="form-control" rows="5" id="geojson"></textarea>
          </div>
          <div class="form-group">
            <label for="projection">Target Projection:</label><br>
            <select class="selectpicker" id="targetProjection" onchange="updateMap()">
              <optgroup label="World">
                <option selected="selected" value="mercator">Mercator</option>
                <option value="conicEqualArea">Conic Equal Area</option>
              <optgroup label="Region">
                <option value="albers">Albers (USA)</option>
            </select>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="updateMap()">Update Map</button>
          </div>


          <h2>Labels</h2>
          <div class="form-group">
            <label for="title">Pattern:</label>
            <input type="text" class="form-control" id="labelPattern">
            <button type="button" class="btn btn-primary" onclick="updateLabels()">Update Labels</button>
          </div>
        </form>
      </div>

      <div class="col-md-8">
        <svg></svg>
      </div>
    </div>
  </body>
</html>
