body {
  padding: 0 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/**
 * MAP
 */
rect.background{
  fill:silver;
}
path {
  stroke: black;
  stroke-width: 2px;
  fill: white;
}
path.mouseover {
  fill: orange;
}
path.centered {
  fill: #D5708B;
}